Django==2.1.7
django-mfa
django-secure
django-sslserver
django-two-factor-auth
djangorestframework
djangorestframework-api-key
django-cryptography
numpy
openpyxl
Pillow
psutil
django-otp
django-otp-yubikey
